body {
  margin: 0;
  background-color: rgb(246, 247, 235);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
header {
  border-bottom: midnightblue solid 3px;
  background: brown;
}
h1 {
  padding: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
div.container {
  display: flex;
  padding-top: 50px;
  padding-bottom: 70px;
  justify-content: center;
}
label {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  width: 140px;
}
input{
  margin: 5px;
  padding: 5px;
}
#redirect {
  margin-top: 20px;
  text-align: center;
}
a {
  color: midnightblue;
}
a:visited {
  color: midnightblue;
}
#buttons {
  display: flex;
  justify-content: center;
}
#submitForm {
  margin: 60px 10px 30px ;
  padding: 10px 20px;
  width: 100px;
  background-color: brown;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.submitBtn {
  display: flex;
  justify-content: center;
}
footer {
  border-top: midnightblue solid 3px;
  background-color: brown;
  color: white;
  text-align: center;
}
footer p {
  margin: 0px;
  padding: 1% 0%;
}